<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Jekyll v4.1.1">
        <title>{% block title %} Centrale LSPD {% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
        {% block javascript %}{% endblock %}
    </head>
    <body>

    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('accueil') }}">Central LSPD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item text-white">
                    <a class="nav-link" href="{{ path('effectif') }}">Effectif <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('leo') }}">LEO </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#">Casier Judiciaire </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rapport
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="rapport_form_arrestation">Formulaire rapport d'arrestation</a>
                        <a class="dropdown-item" href="#">Rapport d'arrestation</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#">Formulaire rapport d'intervention</a>
                        <a class="dropdown-item" href="#">Rapport d'intervention</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#">Formulaire rapport d'audition</a>
                        <a class="dropdown-item" href="#">Rapport d'audition</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#">Formulaire dépôt de plainte</a>
                        <a class="dropdown-item" href="#">Dépôt de plainte</a>
                   </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#">Amende </a>
                </li>

            </ul>

        </div>
    </nav>

    <!-- Navbar -->

        {% block body %}  {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
    </body>
</html>
